<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="informacionPerfil.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap"
    rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
    <title>Document</title>
</head>
<body>
    <fieldset>
        <legend>Datos del Usuario</legend>
   <form action="/perfil.html">
       <p>
           <label for="">Nombre</label>
       <input type="text" name="Nombre">
    </p>
    <p>
        <label for="">Apellido</label>
       <input type="text" name="Apellido">
    </p>
<p>
    <label for="">Fecha de Nacimiento</label>
    <input type="date">
</p>
<p>
    <label for="">Email</label>
    <input type="email" name="email">
</p>
<p>
    <label for="">Teléfono</label>
    <input type="number" name="telefono">
</p>
<p>
    <label for="">Dirección</label>
    <input type="text" name="direccion" placeholder="Calle">
    <input type="number" name="direccion" placeholder="Altura">
    <input type="text/number" name="direccion" placeholder="Piso">
    <input type="text" name="ciudad" placeholder="Ciudad">
    <input type="text" name="localidad" placeholder="Localidad">
    <input type="number" name="CP" placeholder="Codigo Postal">
</p>
<p>
    <button type="submit">Guardar</button>
    <button type="submit">Modificarr</button>
</p>
   </form> 
</fieldset>

</body>
</html>