<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/stylelogin.css">
    <link rel="stylesheet" href="/css/styleregistro.css">
</head>

<body>
    <%- include('../partials/header') %>

    <main class="form-login">
        <form method="POST" action="/users/login">
        <h4>Formulario Login</h4>
        <div class="form-group">
        <input type="text" name="email" value="" class="form-control" placeholder="Email">
        <% if (locals.errors && errors.email) { %>
            <div class="text-danger">
                <%= errors.email.msg %>
            </div>
            <% } %>
        </div>
        <input class="control" type="password" name="password" value="" placeholder="Contraseña">
        <input class="boton" type="submit" name="" value="Ingresar">
  
    <li class="Enlaces">¿No tienes cuenta?<a href="/users/Register">Regístrate</a></li>
    <li class="Enlaces"><a href="#">¿Olvidaste tu Contraseña?</a></li>
    Recordar Contraseña<input class="recordar" type = "checkbox" name="contraseña" value = "Recordar Contraseña"/></form>
    </main>

    <%- include('../partials/footer') %>
    
</body>

</html>