<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head') %>
        <link rel="stylesheet" href="/css/stylelogin.css">

</head>

<body>

    <%- include('../partials/header') %>

    <div class="main-oculto" id="main-oculto"></div>

        <main>

            <div class="form-login">

                <form method="POST" action="/users/login" class="login">

                    <h1>Iniciar sesión</h1>

                    <% if (locals.errors && errors.email) { %>
                        <div class="text-danger">
                            <%= errors.email.msg %>
                        </div>
                    <% } %>

                    <div class="controls">
                        <input class="email" type="text" name="email" id="email">
                        <label for="email">
                            <span>Email</span>
                        </label>
                    </div>

 <!-- hacer que funcionen los estilos sin el required -->
                    <div class="controls">
                        <input type="password" name="password" id="password" class="password">
                        <label for="password">
                            <span>Contraseña</span>
                        </label>
                    </div>
                    <div class="errores">
                        <ul>
                            
                        </ul>
                        </div>

                    <div class="recordar">
                        <input type="checkbox" class="form-check-input" name="remember_user">
                        <span>Recuérdame</span>
                    </div>

                    <button type="submit" class="boton" id="Ingresar">Ingresar</button>

                </form>

                <a href="#" class="contrasenia-olvidada">Olvidé mi contraseña</a>

                <div class="enlace">
                    <p>¿No tienes cuenta?</p>
                    <a href="/users/Register">Regístrate</a><i class="fa-solid fa-arrow-up-right-from-square"></i>
                </div>

            </div>

        </main>

        <%- include('../partials/footer') %>
        <script src="/validacionesJS/validationLogin.js"></script>
</body>

</html>