<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/profileUser.css">
    <title>Mi perfil</title>
</head>
<body>
    <%- include('../partials/header') %> 
    <section class="perfil-usuario">
            <div class="contenedor-perfil">
                <div class="portada-perfil">

                    <div class="avatar-perfil">
                        <img src="" alt="img">
                        <a href="#" class="cambiar-foto">
                            <i class="fas fa-camera"></i> 
                            <span>Cambiar foto</span>
                        </a>
                    </div>
                    <div class="datos-perfil">
                        <h4 class="titulo-usuario">Nombre</h4>
                        <p class="bio-usuario"> Descripcion </p>
                    </div>
                    <div class="opcciones-perfil">
                        <button type="">Cambiar portada</button>
                        <button type=""><i class="fas fa-wrench"></i></button>
                    </div>
                </div>
                <div class="menu-perfil">
                    <ul>
                        <li><a href="#" title=""><i class="icono-perfil fas fa-bullhorn"></i>Notificaciones</a></li>
                        <li><a href="#" title=""><i class="icono-perfil fas fa-info-circle"></i>Informacion</a></li>
                        <li><a href="#" title=""><i class="icono-perfil fas fa-grin"></i>Ayuda</a></li>
                        <li><a href="#" title=""><i class="fa-solid fa-cart-shopping"></i> Mis compras</a></li>
                    </ul>
                </div>
            </div>
    </section>
    <%- include('../partials/footer') %>
</body>
</html>