<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/styleregistro.css">
    <link rel="stylesheet" href="/css/stylelogin.css">
</head>

<body>
    <%- include('../partials/header') %>

    <main class="Form-register">
        <form action="/users/register" method="POST">
        <h4>Formulario de Registro</h4>
        <input class="Controls" type="text" name="name" id="Nombres" placeholder="Ingrese su Nombre">
        <input class="Controls" type="text" name="lastName" id="Apellido" placeholder="Ingrese su Apellido">
        <input class="Controls" type="email" name="email" id="Correo electrónico"
            placeholder="Ingrese su Correo">
        <input class="Controls" type="number" name="phoneArea" id="Teléfono" placeholder="Código de área">
        <input class="Controls" type="number" name="phone" id="Teléfono" placeholder="Teléfono">
        <input class="Controls" type="password" name="password" id="Contraseña" placeholder="Contraseña">
        <input class="Controls" type="password" name="password2" id="Repetir Contraseña"
            placeholder="Repetir Contraseña">
            <div class="c-photos">
                <label for="photo">Foto de usuario</label>
                <input type="file" name="photo" accept="image/*" id="photo" class="controls" multiple/>
              </div>
        <p> Acepto los <a href="#">términos y condiciones</a></p>
        <input class="botons" type="submit" value="Aceptar"></form>
    </main>

    <%- include('../partials/footer') %>
    
</body>

</html>