<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios</title>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/usersList.css">
</head>

<body>

<div class="datatable-container">
<div class="header-tools">
<div class="tools">
<ul>
    <li>
        <span>
            <input type="checkbox">
        </span>
    </li>
    <li>
        <button>
            <i class="material-icons">add_circle</i>
        </button>
    </li>
    <li>
        <button>
            <i class="material-icons">edit</i>
        </button>
    </li>
    <li>
        <button>
            <i class="material-icons">delete</i>
        </button>
    </li>
    <li>
        <button>
            <i class="material-icons">share</i>
        </button>
    </li>
</ul>
</div>
<div class="search">
<input type="text" name="" id="" class="search-input">
</div>

</div>
<table class="datatable">
<thead>
    <tr>
        <th>Check</th>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Email</th>
        <th>Telefono</th>
        <th>Alta</th>
    </tr>
</thead>
<tbody>
    <tr>
        <td class="table-checkbox"><input type="checkbox" name="" id=""></td>
        <td>9</td>
        <td>carla</td>
        <td>tomasi</td>
        <td>carla_t@gmail.com</td>
        <td>0636156166</td>
        <td>true</td>
    </tr>
    <tr>
        <td class="table-checkbox"><input type="checkbox" name="" id=""></td>
            <td>10</td>
            <td>None</td>
            <td>Carla</td>
            <td>nachocosta287@gmail.com</td>
            <td>03431561651651</td>
            <td>false</td>
    </tr>
    <tr>
        <td class="table-checkbox"><input type="checkbox" name="" id=""></td>  
            <td>11</td>
            <td>Martina</td>
            <td>Colomé</td>
            <td>manu@gmail.com</td>
            <td>0343156165116</td>
            <td>-</td>
    </tr>
    <tr>
        <td class="table-checkbox"><input type="checkbox" name="" id=""></td>
        <td>12</td>
        <td>Nico</td>
        <td>Gerez</td>
        <td>gerez.nicolas@gmail.com</td>
        <td>1112345678</td>
        <td>true</td>
    </tr>
</tbody>


</table>
<div class="footer-tools">

<div class="list-items">
    <select name="n-entries" id="n-enties" class="n-entries">
        <option value="15">5</option>
        <option value="10" selected>10</option>
        <option value="15">15</option>
    </select>
</div>

<div class="pages">
    <ul>
        <li><span clas="active">1</span></li>
        <li><button>2</button></li>
        <li><button>3</button></li>
        <li><button>4</button></li>
        <li><button>...</button></li>
        <li><button>9</button></li>
        <li><button>10</button></li>
    </ul>
</div>


</div>

</div>

</body>

</html>