<footer>

    <ul>

        <li class="f-ayuda"><button>
                <h3>Ayuda</h3><i class="fa-solid fa-angle-down"></i>
            </button>
            <h3>Ayuda</h3>
            <ul>
                <li><a href="/armar-pc">Botón de arrepentimiento</a></li>
                <li><a href="/armar-pc">Preguntas frecuentes</a></li>
                <li><a href="/armar-pc">Políticas de cambios</a></li>
                <li><a href="/armar-pc">Pagos y envíos</a></li>
            </ul>
        </li>

        <li class="f-institucional"><button>
                <h3>Institucional</h3><i class="fa-solid fa-angle-down"></i>
            </button>
            <h3>Institucional</h3>
            <ul>
                <li><a href="/armar-pc">Sobre nosotros</a></li>
                <li><a href="/armar-pc">Políticas de seguridad</a></li>
                <li><a href="/armar-pc">Términos y condiciones</a></li>
                <li><a href="/armar-pc">Defensa al consumidor</a></li>
            </ul>
        </li>

        <li class="f-atencion"><button>
                <h3>Centro de atención</h3><i class="fa-solid fa-angle-down"></i>
            </button>
            <h3>Centro de atención</h3>
            <p>Lunes a viernes de 9:00 a 18:00</p>
            <ul>
                <li>infinity-store@dominio.com</li>
                <li>+54 9 XXX X XXX XXX</li>
                <li>+54 XXX X XXX XXX</li>
            </ul>
        </li>

        <li class="f-redes">
            <h3>Síguenos en redes</h3>
            <div class="redes">
                <a href="/armar-pc"><i class="fa-brands fa-instagram"></i></a>
                <a href="/armar-pc"><i class="fa-brands fa-facebook-square"></i></a>
                <a href="/armar-pc"><i class="fa-brands fa-twitter-square"></i></a>
            </div>
        </li>

    </ul>

    <p>Copyright © 2022 Infinity Store®</p>

</footer>