<header>

    <nav>

        <ul class="nav-bar">

            <li class="menu-desplegable">

                <button class="burger-menu">
                    <i class="fas fa-bars"></i>
                </button>

                <ul>
                    <li class="nav-menu-item"><a href="#" class="nav-menu-link nav-link">Categorías</a>

                        <ul>
                            <li><a href="#">Notebook</a></li>
                            <li><a href="#">Auriculares</a></li>
                            <li><a href="#">Placas de video</a></li>
                        </ul>

                    </li>

                    <li class="nav-menu-item"><a href="#" class="nav-menu-link nav-link">Armá tu pc</a></li>
                    <li class="nav-menu-item"><a href="/productCart" class="nav-menu-link nav-link">Carrito</a></li>
                    <li class="nav-menu-item"><a href="#" class="nav-menu-link nav-link">Mis compras</a></li>
                    <li class="nav-menu-item"><a href="#" class="nav-menu-link nav-link">Mi perfil</a>
                    <li class="nav-menu-item"><a href="#" class="nav-menu-link nav-link">Configuración</a>
                    <li class="nav-menu-item"><a href="#" class="nav-menu-link nav-link">Ingresar</a></li>

                </ul>

            </li>

            <li class="logo-infinity-store">
                <a href="/" class="logo-rectangular-m-t"><img src="/images/dragon_rectangular.jpg" alt=""></a>
                <a href="/" class="logo-cuadrado-d"><img src="/images/dragon_cuadrado.jpg" alt=""></a>
            </li>

            <li class="categorias">

                <button type="button" class="boton-categorias">Categorías <i
                        class="fa-solid fa-angle-down"></i></button>

                <ul>
                    <li><a href="#">Notebook</a></li>
                    <li><a href="#">Auriculares</a></li>
                    <li><a href="#">Placas de video</a></li>
                </ul>

            </li>

            <li class="arma-tu-pc"><a href="#">Armá tu pc</a></li>

            <li class="buscador">

                <input type="text" name="" id="" class="barra-busqueda"
                    placeholder="Buscar por producto, marca, categoría...">

                <button type="button"><a href="#"><i class="fa-solid fa-magnifying-glass"></i></a></button>

            </li>

            <li class="carrito"><a href="/productCart"><i class="fa-solid fa-cart-shopping"></i></a></li>

            <li class="login"><a href="/users/login">Ingresar</a></li>

            <!--Próxima incorporación-->

            <li class="perfil"><a href="#">Mi perfil</a>

                <ul>
                    <li class="menu-perfil"><a href="#">Mis compras</a></li>
                    <li class="menu-perfil"><a href="#">Mi perfil</a>
                    <li class="menu-perfil"><a href="#">Configuración</a>
                    <li class="menu-perfil"><a href="#">Configuración</a>

                </ul>

            </li>

        </ul>

    </nav>

</header>