<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Infiniy Store</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styleindex.css">

</head>
<body>
    <header>
        <nav>
            <p class="nav-bar">Lugar para la navbar</p>
        </nav>

<img src="/images/armar-pc-gamer-barata.png" alt="scroll" class="img">

    </header>

<main>
<section class="ofertas">
<h3>Ofertas</h3>
<article>
    <img src="/images/TECLADO GAMER EVGA Z15 RGB COLOR LINEAR SILVER SPANISH.jpg" alt="primer producto">
    <p>Nombre del producto</p>
    <p>Descuento</p>
    <p>$precio</p>
    
</article>
</section>
<section class="recomend">
    <h3>Recomendados</h3>
    <article>
        <img src="/images\NOTEBOOK MSI CREATOR 15 A10SE.jpg" alt="">
        <p>Nombre del producto</p>
        <p>$precio</p> 
    </article>
</section>
</main>
    
</body>
</html>