<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Infinity Store</title>
    <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/navbar-footer.css">
    <link rel="stylesheet" href="/css/styleindex.css">
</head>

<body>
    <header>

        <nav>

            <ul class="nav-bar">

                <li class="menu-desplegable">

                    <button class="burger-menu">
                        <i class="fas fa-bars"></i>
                    </button>

                    <ul>
                        <li class="nav-menu-item"><a href="#" class="nav-menu-link nav-link">Categorías</a>

                            <ul>
                                <li><a href="#">Notebook</a></li>
                                <li><a href="#">Auriculares</a></li>
                                <li><a href="#">Placas de video</a></li>
                            </ul>

                        </li>

                        <li class="nav-menu-item"><a href="#" class="nav-menu-link nav-link">Armá tu pc</a></li>
                        <li class="nav-menu-item"><a href="/productCart" class="nav-menu-link nav-link">Carrito</a></li>
                        <li class="nav-menu-item"><a href="#" class="nav-menu-link nav-link">Mis compras</a></li>
                        <li class="nav-menu-item"><a href="#" class="nav-menu-link nav-link">Mi perfil</a>
                        <li class="nav-menu-item"><a href="#" class="nav-menu-link nav-link">Configuración</a>
                        <li class="nav-menu-item"><a href="/login" class="nav-menu-link nav-link">Ingresar</a></li>

                    </ul>

                </li>

                <li class="logo-infinity-store">
                    <a href="/" class="logo-rectangular-m-t"><img src="/images/dragon_rectangular.jpg" alt=""></a>
                    <a href="/" class="logo-cuadrado-d"><img src="/images/dragon_cuadrado.jpg" alt=""></a>
                </li>

                <li class="categorias">

                    <button type="button" class="boton-categorias">Categorías <i
                            class="fa-solid fa-angle-down"></i></button>

                    <ul>
                        <li><a href="#">Notebook</a></li>
                        <li><a href="#">Auriculares</a></li>
                        <li><a href="#">Placas de video</a></li>
                    </ul>

                </li>

                <li class="arma-tu-pc"><a href="#">Armá tu pc</a></li>

                <li class="buscador">

                    <input type="text" name="" id="" class="barra-busqueda"
                        placeholder="Buscar por producto, marca, categoría...">

                    <button type="button"><a href="#"><i class="fa-solid fa-magnifying-glass"></i></a></button>

                </li>

                <li class="carrito"><a href="#"><i class="fa-solid fa-cart-shopping"></i></a></li>

                <li class="login"><a href="/login">Ingresar</a></li>

                <!--Próxima incorporación-->

                <li class="perfil"><a href="#">Mi perfil</a>

                    <ul>
                        <li class="menu-perfil"><a href="#">Mis compras</a></li>
                        <li class="menu-perfil"><a href="#">Mi perfil</a>
                        <li class="menu-perfil"><a href="#">Configuración</a>
                        <li class="menu-perfil"><a href="#">Configuración</a>

                    </ul>

                </li>

            </ul>

        </nav>

    </header>
    <main>
        <section class="ofertas">
            <h3>Ofertas</h3>
            <div class="productos">
                <article>
                    <img src="/images/SILLA GAMER PRIMUS THRONOS 100T BLACK-AMARILLA.jpg" alt="primer producto">
                    <div class="main-article">
                        <i class="fa-solid fa-star"></i>
                        <br>
                        <p class="descripcion">Productos para la venta</p>
                        <br>
                        <p class="descuento">25%</p>
                        <br>
                        <p class="precio">$10225</p>
                    </div>
                </article>
                <article>
                    <img src="/images/SILLA GAMER PRIMUS THRONOS 100T BLACK-AMARILLA.jpg" alt="primer producto">
                    <div class="main-article">
                        <i class="fa-solid fa-star"></i>
                        <br>
                        <p class="descripcion">Productos para la venta</p>
                        <br>
                        <p class="descuento">25%</p>
                        <br>
                        <p class="precio">$10225</p>
                </article>
                <article>
                    <img src="/images/SILLA GAMER PRIMUS THRONOS 100T BLACK-AMARILLA.jpg" alt="primer producto">
                    <div class="main-article">
                        <i class="fa-solid fa-star"></i>
                        <br>
                        <p class="descripcion">Productos para la venta</p>
                        <br>
                        <p class="descuento">25%</p>
                        <br>
                        <p class="precio">$10225</p>
                    </div>
                </article>
                <article>
                    <img src="/images/SILLA GAMER PRIMUS THRONOS 100T BLACK-AMARILLA.jpg" alt="primer producto">
                    <div class="main-article">
                        <i class="fa-solid fa-star"></i>
                        <br>
                        <p class="descripcion">Productos para la venta</p>
                        <br>
                        <p class="descuento">25%</p>
                        <br>
                        <p class="precio">$10225</p>
                    </div>
                </article>
            </div>

        </section>
        <section class="recomendado">
            <h3>Recomendados</h3>
            <div class="productos">
                <article>
                    <img src="/images\NOTEBOOK MSI CREATOR 15 A10SE.jpg" alt="">
                    <div class="main-article">
                        <i class="fa-solid fa-cart-shopping"></i>
                        <br>
                        <p class="descripcion">Productos para la venta</p>
                        <br>
                        <p class="precio">$10000</p>
                    </div>
                </article>
                <article>
                    <img src="/images\NOTEBOOK MSI CREATOR 15 A10SE.jpg" alt="">
                    <div class="main-article">
                        <i class="fa-solid fa-cart-shopping"></i>
                        <br>
                        <p class="descripcion">Productos para la venta</p>
                        <br>
                        <p class="precio">$10000</p>
                    </div>
                </article>
                <article>
                    <img src="/images\NOTEBOOK MSI CREATOR 15 A10SE.jpg" alt="">
                    <div class="main-article">
                        <i class="fa-solid fa-cart-shopping"></i>
                        <br>
                        <p class="descripcion">Productos para la venta</p>
                        <br>
                        <p class="precio">$10000</p>
                    </div>
                </article>
                <article>
                    <img src="/images\NOTEBOOK MSI CREATOR 15 A10SE.jpg" alt="">
                    <div class="main-article">
                        <i class="fa-solid fa-cart-shopping"></i>
                        <br>
                        <p class="descripcion">Productos para la venta</p>
                        <br>
                        <p class="precio">$10000</p>
                    </div>
                </article>

            </div>
        </section>
    </main>

    <footer>

        <ul>

            <li class="f-ayuda"><button>
                    <h3>Ayuda</h3><i class="fa-solid fa-angle-down"></i>
                </button>
                <h3>Ayuda</h3>
                <ul>
                    <li><a href="#">Botón de arrepentimiento</a></li>
                    <li><a href="#">Preguntas frecuentes</a></li>
                    <li><a href="#">Políticas de cambios</a></li>
                    <li><a href="#">Pagos y envíos</a></li>
                </ul>
            </li>

            <li class="f-institucional"><button>
                    <h3>Institucional</h3><i class="fa-solid fa-angle-down"></i>
                </button>
                <h3>Institucional</h3>
                <ul>
                    <li><a href="#">Sobre nosotros</a></li>
                    <li><a href="#">Políticas de seguridad</a></li>
                    <li><a href="#">Términos y condiciones</a></li>
                    <li><a href="#">Defensa al consumidor</a></li>
                </ul>
            </li>

            <li class="f-atencion"><button>
                    <h3>Centro de atención</h3><i class="fa-solid fa-angle-down"></i>
                </button>
                <h3>Centro de atención</h3>
                <p>Lunes a viernes de 9:00 a 18:00</p>
                <ul>
                    <li>infinity-store@dominio.com</li>
                    <li>+54 9 XXX X XXX XXX</li>
                    <li>+54 XXX X XXX XXX</li>
                </ul>
            </li>

            <li class="f-redes">
                <h3>Síguenos en redes</h3>
                <div class="redes">
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-facebook-square"></i></a>
                    <a href="#"><i class="fa-brands fa-twitter-square"></i></a>              
                </div>
            </li>

        </ul>

        <p>Copyright © 2022 Infinity Store®</p>

    </footer>
</body>

</html>