<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Infinity Store</title>   
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styleindex.css">
</head>

<body>
    <header>
        <nav>
            <p class="nav-bar">Lugar para la navbar</p>
        </nav>
        <section class="banner">
        <img src="/images/armar-pc-gamer-barata.png" alt="scroll" class="img">
    </section>
    </header>
     <main >
        <section class="ofertas">
            <h3>Ofertas</h3>
            <div class="productos">
                <article>
                    <img src="/images/TECLADO GAMER EVGA Z15 RGB COLOR LINEAR SILVER SPANISH.jpg" alt="primer producto">
                    <div class="main-article">
                        <i class="fa-solid fa-cart-shopping"></i>
                    <p class="descripcion">Prodcutos para la venta</p>
                   <br>  <p class="descuento">25%</p>
                    <br>     <p class="precio">$10225</p>
                    </div>
                </article>
                <article>
                    <img src="/images/TECLADO GAMER EVGA Z15 RGB COLOR LINEAR SILVER SPANISH.jpg" alt="primer producto">
                    <div class="main-article">
                        <i class="fa-solid fa-cart-shopping"></i>
                    <p class="descripcion">Prodcutos para la venta</p>
                   <br>  <p class="descuento">25%</p>
                    <br>    <p class="precio">$10225</p>
                </article>
                <article>
                    <img src="/images/TECLADO GAMER EVGA Z15 RGB COLOR LINEAR SILVER SPANISH.jpg" alt="primer producto">
                    <div class="main-article">
                        <i class="fa-solid fa-cart-shopping"></i>
                    <p class="descripcion">Prodcutos para la venta</p>
                   <br>  <p class="descuento">25%</p>
                    <br>   <p class="precio">$10225</p>
                    </div>
                </article>
                <article>
                    <img src="/images/TECLADO GAMER EVGA Z15 RGB COLOR LINEAR SILVER SPANISH.jpg" alt="primer producto">
                    <div class="main-article">
                        <i class="fa-solid fa-cart-shopping"></i>
                    <p class="descripcion">Prodcutos para la venta</p>
                  <br>   <p class="descuento">25%</p>
                    <br>  <p class="precio">$10225</p>
                </div>
                </article>
            </div>
        </section>
        <section class="recomendado">
            <h3>Recomendados</h3>
            <div class="productos">
            <article>
                <img src="/images\NOTEBOOK MSI CREATOR 15 A10SE.jpg" alt="">
               <div class="main-article">
                <i class="fa-solid fa-cart-shopping"></i>
                <p class="descripcion">Prodcutos para la venta</p>
              <br>  <p class="precio">$10000</p> 
            </div>
            </article>
            <article>
                <img src="/images\NOTEBOOK MSI CREATOR 15 A10SE.jpg" alt="">
               <div class="main-article">
                <i class="fa-solid fa-cart-shopping"></i>
                <p class="descripcion">Prodcutos para la venta</p>
                <br>  <p class="precio">$10000</p>
            </div>
            </article>
            <article>
                <img src="/images\NOTEBOOK MSI CREATOR 15 A10SE.jpg" alt="">
               <div class="main-article">
                <i class="fa-solid fa-cart-shopping"></i>
                <p class="descripcion">Prodcutos para la venta</p>
                <br>  <p class="precio">$10000</p>
            </div>
            </article>
            <article>
                <img src="/images\NOTEBOOK MSI CREATOR 15 A10SE.jpg" alt="">
               <div class="main-article">
                <i class="fa-solid fa-cart-shopping"></i>
                <p class="descripcion">Prodcutos para la venta</p>
                <br>  <p class="precio">$10000</p>
            </div>
            </article>
            
        </div>
        </section>
    </main> 
<footer>




    
</footer>
</body>

</html>