<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=>, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/stylelogin.css">  
    <link rel="stylesheet" href="/css/styleregistro.css">
    <script
    src="https://kit.fontawesome.com/7e5b2d153f.js"
    crossorigin="anonymous"></script>             
</head>
<body>
    <header class="header">
        <nav class = "nav">
            <a href="#" class="logo nav-link">Logo</a>
            <button class = "nav-toggle">
                <i class="fas fa-bars"></i>
            </button>
            <ul class="nav-menu">
                <li class="nav-menu-item"><a href="#" class="nav-menu-link nav-link">Categorías</a></li>
                <li class="nav-menu-item"><a href="#" class="nav-menu-link nav-link">Armá tu pc</a></li>
                <li class="nav-menu-item"><a href="#" class="nav-menu-link nav-link">Carrito</a></li>
                <li class="nav-menu-item"><a href="/login" class="nav-menu-link nav-link">Ingresar</a></li>
                <li class="nav-menu-item"><a href="/register" class="nav-menu-link nav-link">Registrarme</a></li>
        
            </ul>
            
        </nav>
    </header>
    <section class="form-login">
        <h4>Formulario Login</h4>
        <input class="control" type="text" name="usuario" value="" placeholder="Usuario">
        <input class="control" type="password" name="contraseña" value="" placeholder="Contraseña">
        <input class="boton" type="submit" name="" value="Ingresar">
        <p><a href="#">¿Olvidaste tu Contraseña?</a></p>
    </section>
</body>
</html>