<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=>, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="stylelogin.css">               
</head>
<body>
    <section class="form-login">
        <h4>Formulario Login</h4>
        <input class="control" type="text" name="usuario" value="" placeholder="Usuario">
        <input class="control" type="password" name="contraseña" value="" placeholder="Contraseña">
        <input class="boton" type="submit" name="" value="Ingresar">
        <p><a href="#">¿Olvidaste tu Contraseña?</a></p>
    </section>
</body>
</html>