<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="/css/navbar-footer.css">
    <link rel="stylesheet" href="/css/styleproductDetail.css">


    <title>ProductDetails</title>
</head>
<body>
    <header>
        <nav>
            <ul class="nav-bar">
                <li class="menu-desplegable">
                    <button class="burger-menu">
                        <i class="fas fa-bars"></i>
                    </button>
                    <ul>
                        <li class="nav-menu-item"><a href="#" class="nav-menu-link nav-link">Categorías</a>
                            <ul>
                                <li><a href="#">Notebook</a></li>
                                <li><a href="#">Auriculares</a></li>
                                <li><a href="#">Placas de video</a></li>
                            </ul>
                        </li>
                        <li class="nav-menu-item"><a href="#" class="nav-menu-link nav-link">Armá tu pc</a></li>
                        <li class="nav-menu-item"><a href="/productCart" class="nav-menu-link nav-link">Carrito</a></li>
                        <li class="nav-menu-item"><a href="#" class="nav-menu-link nav-link">Mis compras</a></li>
                        <li class="nav-menu-item"><a href="#" class="nav-menu-link nav-link">Mi perfil</a>
                        <li class="nav-menu-item"><a href="#" class="nav-menu-link nav-link">Configuración</a>
                        <li class="nav-menu-item"><a href="/login" class="nav-menu-link nav-link">Ingresar</a></li>
                    </ul>
                </li>
                <li class="logo-infinity-store">
                    <a href="/index" class="logo-rectangular-m-t"><img src="/images/dragon_rectangular.jpg" alt=""></a>
                    <a href="/index" class="logo-cuadrado-d"><img src="/images/dragon_cuadrado.jpg" alt=""></a>
                </li>
                <li class="categorias">
                    <button type="button" class="boton-categorias">Categorías <i
                            class="fa-solid fa-angle-down"></i></button>
                    <ul>
                        <li><a href="#">Notebook</a></li>
                        <li><a href="#">Auriculares</a></li>
                        <li><a href="#">Placas de video</a></li>
                    </ul>
                </li>
                <li class="arma-tu-pc"><a href="#">Armá tu pc</a></li>
                <li class="buscador">
                    <input type="text" name="" id="" class="barra-busqueda"
                        placeholder="Buscar por producto, marca, categoría...">
                    <button type="button"><a href="#"><i class="fa-solid fa-magnifying-glass"></i></a></button>
                </li>
                <li class="carrito"><a href="#"><i class="fa-solid fa-cart-shopping"></i></a></li>
                <li class="login"><a href="/login">Ingresar</a></li>

                <!--Próxima incorporación-->

                <li class="perfil"><a href="#">Mi perfil</a>
                    <ul>
                        <li class="menu-perfil"><a href="#">Mis compras</a></li>
                        <li class="menu-perfil"><a href="#">Mi perfil</a>
                        <li class="menu-perfil"><a href="#">Configuración</a>
                        <li class="menu-perfil"><a href="#">Configuración</a>
                    </ul>
                </li>
            </ul>
        </nav>

    </header>

    <main>
        <section class="caja-producto">
            <div class="caja-titulo">
                <h2 class="producto">Teclado Mecánico Inalámbrico Redragon Draconic K530W-RGB White</h2>
            </div>
            <section class="contenedor-fotos-datos">
                <div class="caja-articulo">
                    <div class="caja-foto-principal">
                        <img src="/images/Draconic1.jpg" alt="Foto principal">
                    </div>
                    <div class="fotos-muestra">
                        <div class="foto-2">
                            <img src="/images/Draconic2.jpg" alt="Foto">
                        </div>
                        <div class="foto-3">
                            <img src="/images/Draconic3.jpg" alt="Foto">
                        </div>
                        <div class="foto-4">
                            <img src="/images/Draconic4.jpg" alt="Foto">
                        </div>
                        <div class="foto-5">
                            <img src="/images/Draconic5.jpg" alt="Foto">
                        </div>
                    </div>
                </div>
                <div class="contenedor-datos">
                    <div class="titulo-producto2">
                    <h2 class="producto2">Teclado Mecánico Inalámbrico Redragon Draconic K530W-RGB White</h2>
                    </div>
                    <div class="caja-compra">
                        <p class="valor">$7310</p>
                        <p class="cuotas">12 cuotas de $725.16</p>
                    </div>
                    <div class="caja-carrito">
                        <p class="cantidad"><button>1</button></p>
                        <p class="agregar-carrito"><button>Añadir al carrito</button></p>
                    </div>
                    <div class="caja-envio">
                        <p class="envio">Envio</p>
                        <p class="texto-envio">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum facilis nam
                            tempora.
                            Voluptatibus</p>
                    </div>
                </div>
            </section>
            <!-- <div class="boton-flotante">
                <img src="/images/CirculoFixed.png" alt="Foto">
                <p><i class="fa-solid fa-cart-shopping"></i></p>
            </div> -->
            <div class="caja-botones">
                <p class="estado"><button>En stock</button> </p>
                <button class="botondedescripcion">Descripción</button>
                <div class="caja-descripcion">
                    <p class="descripcion">Disfrutá de tus partidas en otro nivel con Redragon, marca reconocida que se
                        especializa
                        en brindar la mejor experiencia de juego al público gamer desde hace más de 20 años. Sus
                        teclados se
                        adaptan
                        a todo tipo de jugadores y esto los convierten en un fiel reflejo de la alta gama y calidad que
                        la
                        compañía
                        ofrece.</p>
                </div>
                <button class="botondeficha">Ficha técnica</button>
                <button class="botondeopiniones">Opiniones</button>
            </div>
        </section>
        <div class="caja-similares">
            <p class="similarestitu">Similares</p>
            <hr>
            <section class="similares">
                <div class="articulo">
                    <img src="/images/DraconicNegro.jpg" alt="Foto Similares">
                    <p class="producto-similar1">Teclado Mecánico Inalámbrico Redragon Draconic K530RGB</p>
                    <p class="valor2">$6620</p>
                </div>
                <div class="articulo">
                    <img src="/images/DraconicNegro.jpg" alt="Foto Similares">
                    <p class="producto-similar1">Teclado Mecánico Inalámbrico Redragon Draconic K530RGB</p>
                    <p class="valor2">$6620</p>
                </div>
                <div class="articulo">
                    <img src="/images/DraconicNegro.jpg" alt="Foto Similares">
                    <p class="producto-similar1">Teclado Mecánico Inalámbrico Redragon Draconic K530RGB</p>
                    <p class="valor2">$6620</p>
                </div>
                <div class="articulo">
                    <img src="/images/DraconicNegro.jpg" alt="Foto Similares">
                    <p class="producto-similar1">Teclado Mecánico Inalámbrico Redragon Draconic K530RGB</p>
                    <p class="valor2">$6620</p>
                </div>
            </section>

        </div>
    </main>
    <footer>
        <ul>
            <li class="f-ayuda"><button>
                    <h3>Ayuda</h3><i class="fa-solid fa-angle-down"></i>
                </button>
                <h3>Ayuda</h3>
                <ul>
                    <li><a href="#">Botón de arrepentimiento</a></li>
                    <li><a href="#">Preguntas frecuentes</a></li>
                    <li><a href="#">Políticas de cambios</a></li>
                    <li><a href="#">Pagos y envíos</a></li>
                </ul>
            </li>
            <li class="f-institucional"><button>
                    <h3>Institucional</h3><i class="fa-solid fa-angle-down"></i>
                </button>
                <h3>Institucional</h3>
                <ul>
                    <li><a href="#">Sobre nosotros</a></li>
                    <li><a href="#">Políticas de seguridad</a></li>
                    <li><a href="#">Términos y condiciones</a></li>
                    <li><a href="#">Defensa al consumidor</a></li>
                </ul>
            </li>
            <li class="f-atencion"><button>
                    <h3>Centro de atención</h3><i class="fa-solid fa-angle-down"></i>
                </button>
                <h3>Centro de atención</h3>
                <p>Lunes a viernes de 9:00 a 18:00</p>
                <ul>
                    <li>infinity-store@dominio.com</li>
                    <li>+54 9 XXX X XXX XXX</li>
                    <li>+54 XXX X XXX XXX</li>
                </ul>
            </li>
            <li class="f-redes">
                <h3>Síguenos en redes</h3>
                <div class="redes">
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-facebook-square"></i></a>
                    <a href="#"><i class="fa-brands fa-twitter-square"></i></a>
                </div>
            </li>
        </ul>
        <p>Copyright © 2022 Infinity Store®</p>
    </footer>

</body>

</html>