<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styleproductDetail.css">
    <title>ProductDetails</title>
</head>
<body>
    <h1>Descripcion del Producto</h1>
    <h2 class="producto">Teclado Mecanico Inalambrico Redragon Draconic K530W-RGB White</h2>
    <p class="descripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure voluptates iste itaque, amet unde labore dolor libero autem doloremque ad. Porro architecto, molestiae dolorum illo quos quas reiciendis adipisci distinctio.</p>
    
    <p class="valor">$7310</p>
    <p class="cuotas">XX cuotas de $XXXX.XX</p>
    <p class="stock">Z</p>
    <p class="añadir al carrito">Añadir al carrito</p>
    <p class="envio">Envio</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum facilis nam tempora. Voluptatibus</p>


    <img src="/images/Draconic1.jpg" alt="Foto principal">
    <img src="/images/Draconic2.jpg" alt="Foto">
    <img src="/images/Draconic3.jpg" alt="Foto">
    <img src="/images/Draconic4.jpg" alt="Foto">
    <img src="/images/Draconic5.jpg" alt="Foto">
   
    <p class="Estado">En stock </p>
    <p class="boton descripcion">Descripción</p>
    <p class="boton ficha tec">Ficha técnica</p>
    <p class="boton opiniones">Opiniones</p>

</body>
</html>