<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="/css/styleproductCart.css">
    <title>Infinity Store</title>
</head>

<body>
    
    <header></header>
    <nav></nav>

    <main>

        <h1>Artículos del carrito</h1>

        <section class="product-cards">

            <article>

                <img src="/images/TECLADO GAMER EVGA Z15 RGB COLOR LINEAR SILVER SPANISH.jpg" alt="Foto del producto">

                <div class="descripcion-producto">

                    <button type="button" class="borrar-producto"><i class="fa-solid fa-trash"></i></button>

                    <h3>TECLADO GAMER EVGA Z15 RGB COLOR LINEAR SILVER SPANISH</h3>

                    <div class="agregar-sacar">
                        <button type="button"><i class="fa-solid fa-minus"></i></button>
                        <input type="number" placeholder="0" value="1">
                        <button type="button"><i class="fa-solid fa-plus"></i></button>
                    </div>

                    <h2>$ 6.870</h2>

                </div>
            </article>

            <article>

                <img src="/images/NOTEBOOK MSI CREATOR 15 A10SE.jpg" alt="Foto del producto">

                <button type="button" class="borrar-producto"><i class="fa-solid fa-trash"></i></button>

                <h3>NOTEBOOK MSI CREATOR 15 A10SE</h3>

                <div class="agregar-sacar">
                    <button type="button"><i class="fa-solid fa-minus"></i></button>
                    <input type="number" placeholder="0" value="1">
                    <button type="button"><i class="fa-solid fa-plus"></i></button>
                </div>

                <h2>$ 380.638</h2>

            </article>

            <article>
                <!--Implementar elemento picture-->
                <img src="/images/SILLA GAMER PRIMUS THRONOS 100T BLACK-AMARILLA.jpg" alt="Foto del producto">

                <button type="button" class="borrar-producto"><i class="fa-solid fa-trash"></i></button>

                <div class="descripcion-producto">

                    <h3>SILLA GAMER PRIMUS THRONOS 100T BLACK/YELLOW</h3>

                    <div class="agregar-sacar">
                        <button type="button"><i class="fa-solid fa-minus"></i></button>
                        <input type="number" placeholder="0" value="1">
                        <button type="button"><i class="fa-solid fa-plus"></i></button>
                    </div>

                    <h2>$ 46.840</h2>

                </div>

            </article>

            <div class="subtotal-productos">
                <h2>Subtotal: $ 434.348</h2>
            </div>

        </section>

        <section class="envio">

            <h2>Envío</h2>

            <div>
                <input type="radio" id="retiro-sucursal" name="envio">
                <label for="retiro-sucursal">Retiro por sucursal</label>

                <div>
                    <input type="radio" id="envio-domicilio" name="envio">
                    <label for="envio-domicilio">Envío a destino</label>

                    <input type="text" placeholder="Código postal">
                    <button type="button">Calcular</button>
                </div>

                <h3>Costo de envío: $XXX.XX</h3>

            </div>

        </section>

        <button type="button">Siguiente</button>

        <!---------------------------------------------------------------------------------------->
        <h1>Detalles de la compra</h1>

        <section class="detalles-compra">

            <div class="detalles">

                <section class="detalles-productos">

                    <h2>Productos</h2>

                    <div class="detalles-producto">

                        <p>TECLADO GAMER EVGA Z15 RGB COLOR LINEAR SILVER SPANISH</p>

                        <div>
                            <p>2</p>
                            <p>$ 13.740</p>
                        </div>

                    </div>

                    <div class="detalles-producto">

                        <p>NOTEBOOK MSI CREATOR 15 A10SE</p>

                        <div>
                            <p>1</p>
                            <p>$ 380.638</p>
                        </div>

                    </div>

                    <div class="detalles-producto">

                        <p>SILLA GAMER PRIMUS THRONOS 100T BLACK/YELLOW</p>

                        <div>
                            <p>1</p>
                            <p>$ 46.840</p>
                        </div>

                    </div>

                </section>

                <section class="detalle-envio">

                    <h2>Envío - Retiro por sucursal</h2>

                    <p>Destino</p>
                    <p>$600</p>

                </section>

                <section class="detalle-impuestos">

                    <h2>Tasas e impuestos</h2>

                    <div class="impuesto">
                        <p>Nombre impuesto 1</p>
                        <p>$ XXX</p>
                    </div>

                    <div class="impuesto">
                        <p>Nombre impuesto 2</p>
                        <p>$ XXX</p>
                    </div>

                    <div class="impuesto">
                        <p>Nombre impuesto 3</p>
                        <p>$ XXX</p>
                    </div>

                </section>

                <section class="detalle-descuentos">

                    <h2>Descuentos</h2>

                    <div class="impuesto">
                        <p>Nombre descuento 1</p>
                        <p>- $ XXX</p>
                    </div>

                    <div class="impuesto">
                        <p>Nombre descuento 2</p>
                        <p>- $ XXX</p>
                    </div>

                </section>

            </div>

            <div class="total">
                <h2>Total: $ 432.225</h2>
            </div>

        </section>

        <button type="button">Atrás</button>
        <button type="button">Comprar</button>

    </main>

</body>

</html>