<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Registro</title>
    <link rel="stylesheet" href="css/styleregister.css">
</head>
<body>
    <section class="Form-register">
        <h4>Formulario de Registro</h4>
        <input class = "Controls" type="text" name ="Nombres" id="Nombres" placeholder="Ingrese su Nombre">
        <input class = "Controls" type="text" name ="Apellido" id="Apellido" placeholder="Ingrese su Apellido">
        <input class = "Controls" type="text" name ="Correo electrónico" id="Correo electrónico" placeholder="Ingrese su Correo">
        <input class = "Controls" type="text" name ="Teléfono" id="Teléfono" placeholder=""><input type="text" name ="" id="" placeholder="">
        <input class = "Controls" type="text" name ="Contraseña" id="Contraseña" placeholder="Contraseña">
        <input class = "Controls" type="text" name ="Repetir Contraseña" id="Repetir Contraseña" placeholder="Repetir Contraseña">
        <p> Acepto los <a href = "#">términos y condiciones</a></p>
        <input class="botons" type="sbmit" value="Aceptar">
    </section>
</body>
</html>