<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Document</title>
  </head>
  <body>
<form action="/" method="POST">
    <div class="nombreproducto">
        <p>Nombre del producto</p>
        <input class="Controls" type="text" name="Nombres" id="Nombres" placeholder="Ingrese el nombre del producto"/>
    </div>
    <div class="descripcionproducto">
        <p>Descripcion del producto</p>
        <input class="Controls" type="text" name="Nombres" id="Nombres" placeholder="Ingrese descripción del producto"/>
    </div>
    <div>
        <p>Fotos del producto</p>
        <input type="file" />
    </div>
    <div class="categoriaproducto">
        <p>Categoria del producto</p>
        <select id="categoria">
        <option>Teclado</option>
        <option>Mouse</option>
        <option>Auriculares</option>
    </select>
    </div>
    <div class="precioproducto">
    <p>Precio del producto</p>
    <input class="Controls" type="text" name="Nombres" id="Precio" placeholder="Ingrese el precio del producto"/>
    </div>
    <div class="botones">
    <input type="submit" value="Publicar producto">
    <input type="reset" value="Reiniciar">
</form>
  </body>
</html>
