:root {
  --amarillo: #eac926;
  --azul: #03264c;
  --celeste: #1259c3;
  --grisOscuro: #666;
  --grisClaro: #ebebeb;
  --verde: #39b54a;
  --rosado: rgba(196, 15, 233, 0.986);
  --purpuraOscuro: #46188c;
  --purpura: #7514b7;
  --negro: rgba(0, 0, 0, 0.8);
  --turquesa: #15cec0;
  --blanco: rgba(255, 255, 255, 0.9);
  --xiketic: #0b0b16;
}
/* -------------------------------------------------------------------------------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  background: var(--negro);
  padding: 50px;
  padding-left: 70px;
  margin: auto;
  border-radius: 4px;
  font-family: "Montserrat", sans-serif;

}
h1 {
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 20px;
  color: var(--blanco);
}
.nombreproducto,
.descripcionproducto,
.categoriaproducto,
.precioproducto,
.fotoProducto,
.descuentos,
.coloresDisp {
  color: var(--blanco);
  font-weight: bold;
}
.precioproducto{
    height: 5vh;
}
.Controls {
  width: 80%;
  border: 1px solid var(--celeste);
}
#placeDesc, #colores{
    border: 1px solid var(--celeste);
}
#categoria {
  width: 80%;
  background: #1259c3;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  color: var(--blanco);
  border: 1px solid var(--azul);
  font-size: 15px;
}
 .botones{
     text-align: center;
 }

/* -----------------------------------------------MediasQuerys------------------------- */
