/*------------------------ Universales ------------------------*/

:root {
    --azulOscuro: rgb(32, 33, 65);
    --purpuraOscuro: #46188c;
    --purpura: #7514b7;
    --negro: rgba(0, 0, 0, 0.8);
    --grisOscuro: rgba(102, 102, 102, 0.98);
    --grisClaro: #ebebeb;
}
div.errores{
    color:rgb(236, 118, 118);
    font-size: 20px;
}
body {
    background-image: url('/images/pexels-photo.jpg');
    background-size: cover;
    background-position: center;
    font-family: 'Montserrat', sans-serif;
}

nav a {
    text-decoration: none;
    color: white;
}

main {
    font-size: 16px;
    width: 100%;
    height: 110vh;
    display: flex;
    align-items: center;
}

.main-oculto {
    display: none;
}

.main-active {
    display: block;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .9);
    z-index: 16;
}

footer {
    top: 12vh;
    margin: 0%;
}

/*----Formulario----*/

.text-danger {
    color: red;
    background-color: rgb(253, 232, 232, 0.9);
    padding: 5px 8px;
    border: 1px red solid;
    font-size: 12px;
    margin-bottom: 10px;
}

.form-login {
    width: 80%;
    margin: auto;
    border-radius: 15px;
    padding: 7% 0%;
    background: var(--grisOscuro);
    box-shadow: 7px 13px 37px #000;
    color: var(--grisClaro);
}

.form-login form {
    width: 80%;
    margin: auto;
}

.form-login h1 {
    text-align: center;
    font-size: 24px;
    padding-bottom: 10px;
    margin: 0;
    border-bottom: 2px solid rgba(33, 33, 33, 0.3);
}

.form-login .controls {
    width: 100%;
    height: 43px;
    position: relative;
    max-width: 400px;
    overflow: hidden;
    margin: 12px 0 15px;
}

.form-login .controls input {
    width: 100%;
    height: 30px;
    background: none;
    color: var(--grisClaro);
    border: none;
    outline: 0px;
    padding-bottom: 0;
    position: absolute;
    bottom: 0;
}

.form-login .controls label {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid white;
}

.form-login .controls label:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid var(--azulOscuro);
    transform: translateX(-100%);
    transition: all 0.3s ease;
}

.form-login .controls label span {
    position: absolute;
    bottom: 5px;
    left: 0;
    transition: all 0.3s ease;
    color: var(--grisClaro);
    z-index: 12;
}

.form-login .controls input:focus+label>span,
.form-login .controls input:valid+label>span {
    transform: translateY(-170%);
    font-size: 12px;
}

.form-login .controls input:focus+label:after {
    transform: translateX(0%);
}

.recordar {
    margin: 10% 0 0;
}

.boton {
    width: 100%;
    height: 40px;
    margin: 6% 0%;
    border: none;
    border-radius: 3px;
    background: var(--azulOscuro);
    color: var(--grisClaro);
    font-size: 18px;
}

.contrasenia-olvidada {
    display: block;
    width: 80%;
    margin: auto;
    padding-bottom: 10px;
    border-bottom: 2px solid rgba(33, 33, 33, 0.3);
    font-weight: 400;
    color: var(--grisClaro);
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

.enlace {
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 8%;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.enlace p {
    margin: 0%;
}

.enlace a {
    margin-left: 5px;
    color: var(--grisClaro);
}

.enlace i {
    font-size: 10px;
    margin-left: 3px;
}

@media(min-width: 521px) {

    main {
        font-size: 18px;
    }

    .form-login {
        width: 400px;
        padding: 5% 0%;
    }

    .text-danger {
        font-size: 14px;
    }

}

@media(min-width: 769px) {

    main {
        top: 14vh;
    }

    .form-login {
        padding: 3% 0%;
    }

    .recordar {
        font-size: 15px;
    }

    .contrasenia-olvidada {
        font-size: 14px;
    }

    .enlace {
        margin-top: 6%;
        font-size: 15px;
    }

    .enlace i {
        font-size: 13px;
    }

}

@media(min-width: 1100px) {

    main {
        height: 100vh;
    }
}