:root {
  --amarillo: #eac926;
  --azul: #03264c;
  --celeste: #1259c3;
  --grisOscuro: #666;
  --grisClaro: #ebebeb;
  --verde: #39b54a;
  --rosado: rgba(196, 15, 233, 0.986);
  --purpuraOscuro: #46188c;
  --purpura: #7514b7;
  --negro: rgba(0, 0, 0, 0.8);
  --turquesa: #15cec0;
  --blanco: rgba(255, 255, 255, 0.9);
  --xiketic: #0b0b16;
}

/*------------------------------------------- BODY ---------------------------------------*/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
 background: linear-gradient(var(--xiketic), var(--azul)) 
  /* background-image: url(/images/pexels-photo-3945655.webp); */

}

h2 {
  font-size: 30px;
  font-weight: bold;
  margin: 3.5% 0% 2% 0%;
  color: var(--blanco);
}
p {
  font-size: 22px;
  text-align: center;
}
p.precio {
  font-size: 18px;
  text-align: center;
}
.descuento {
  text-align: center;
}
.descuento,
.descripcion {
  font-size: 20px;
  font-weight: normal;
  text-align: center;
}
.banner {
  width: 100%;
  display: block;
  position: relative;
  top: 9.5vh;
}
.categorias {
  display: none;
}
/*--------------------------------------- MAIN ---------------------------------- */

main {
  width: 90%;
  margin: 0 auto;
}
article {
  text-align: center;
  justify-content: center;
  /* margin: 25%; */
  border-radius: 15px;
}

main section article {
  background-color: #fff;
  margin: 25px 0px;
}

main section article img {
  width: 100%;
}

main section article i,
.descuento {
  color: #39b54a;
}

main section h3 {
  margin: 20px 0px;
}

main article {
  background-color: #fff;
  margin-top: 6%;
  width: 100%;
  display: block;
  position: relative;
  box-shadow: -1px 2px 22px -1px var(--azul);
  padding: 30px;
}

.fa-solid.fa-star {
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  color: #eac926;
  position: absolute;
  right: 25px;
  font-size: 35px;
  top: 10px;
  border: 0px none;
}

/* ---------------------------- CARRITO FIXED ------------------------------------ */

.shoppingCarF i {
  display: block;
  padding: 5px;
  right: 20px;
  font-size: 20px;
  right: 11px;
  bottom: 10px;
}
.shoppingCarF i {
  position: fixed;
  border: 1px solid var(--verde);
  border-radius: 100%;
  color: #39b54a;
  z-index: 3;
  font-size: 25px;
}
/*----------------------------- ADAPTATiVO ----------------------------------- */

@media (min-width: 520px) {
  main {
    position: relative;
    top: 4vh;
  }
  main section article .descripcion {
    display: block;
  }

  main section article {
    box-shadow: -1px 2px 22px -1px var(--grisOscuro);
  }
  main section article:hover {
  transform: scale(1.2);
  transition: .5s;
  }

  main section div.productos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    /* border: 0px solid var(--grisClaro); */
    border-radius: 2%;
  }

  main section div.productos article {
    width: 45%;
  }

  .precio,
  .descuento {
    text-align: center;
  }
  .productos {
    background: linear-gradient(var(--rosado), var(--celeste));
    padding: 3% 3% 3% 3%;
  }
  .shoppingCarF i {
    position: fixed;
    border: 1px solid var(--verde);
    border-radius: 50%;
    color: #39b54a;
    z-index: 3;
    font-size: 30px;
  }

  section.categorias {
    display: flex;
    text-align: center;
    justify-content: space-around;
    position: relative;
    top: 1.5vh;
    height: 17vw;
  }
  .icon1,
  .icon2,
  .icon3,
  .icon4,
  .icon5,
  .icon6 {
    font-size: 45px;
    /* display: inline; */
    border: 1px solid var(--azul);
    border-radius: 50%;
    width: 17%;
    /* padding: 2% 1% 3% 1% ;  */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--azul);
    color: #fff;
  }
  .icon1,
  .icon2,
  .icon3,
  .icon4,
  .icon5,
  .icon6 {
    box-shadow: -1px 2px 22px -1px var(--blanco);
  }
  .icon1:hover,
  .icon2:hover,
  .icon3:hover,
  .icon4:hover,
  .icon5:hover,
  .icon6:hover {
    box-shadow: -1px 2px 22px -1px var(--amarillo);
  }
  .icon5,
  .icon6 {
    display: none;
  }
}

@media (min-width: 769px) {
  main {
    position: relative;
    top: -5vh;
  }
  main section div.productos article {
    width: 22%;
  }
  .shoppingCarF i {
    display: none;
  }
  section.categorias {
    display: flex;
    text-align: center;
    justify-content: space-around;
    position: relative;
    top: -4vh;
    height: 13vw;
  }

  .icon1,
  .icon2,
  .icon3,
  .icon4,
  .icon5,
  .icon6 {
    font-size: 55px;
    border: 1px solid var(--azul);
    border-radius: 50%;
    width: 13%;
  }

  .banner {
    top: 4.6vh;
    height: 50vh;
  }
  .banner img {
    height: 100%;
  }
  .icon5,
  .icon6 {
    display: inherit;
  }
  h2 {
    font-size: 35px;
  }
}

@media (min-width: 1100px) {
  section.categorias {
    display: flex;
    text-align: center;
    justify-content: space-around;
    position: relative;
    top: -5vh;
    height: 11vw;
  }
  .icon1,
  .icon2,
  .icon3,
  .icon4,
  .icon5,
  .icon6 {
    font-size: 70px;
    border: 1px solid var(--azul);
    border-radius: 50%;
    width: 11%;
  }
  .banner {
    top: 4.6vh;
    height: 70vh;
  }
  .banner img {
    height: 100%;
  }
}
