:root {
    --amarillo: #eac926;
    --azul: #03264c;
    --celeste: #1259c3;
    --grisOscuro: rgb(156, 156, 156);
    --grisClaro: #ebebeb;
    --verde: #39b54a;
    --rosado: rgba(196, 15, 233, 0.986);
    --purpuraOscuro: #46188c;
    --purpura: #7514b7;
    --negro: rgba(0, 0, 0, 0.8);
    --turquesa: #15cec0;
    --blanco: rgba(255, 255, 255, 0.9);
    --xiketic: rgb(11, 11, 22);
    --azulOscuro: rgb(32, 33, 65);
}

/*------------------------ Universales ------------------------*/

body {
    font-family: "Montserrat", sans-serif;
    background: linear-gradient(var(--xiketic), var(--azul));

}

h2,
a {
    color: var(--blanco);
    text-decoration: none;
}

p {
    margin: 0%;
}

/*-------------------------- Mobile --------------------------*/

main {
    top: 100px;
    width: 87%;
    margin: auto;
    color: var(--blanco);
}

/*Título*/

.name h2 {
    font-size: 24px;
}

.caja-fotos {
    position: relative;
}

.caja-fotos .principal {
    background-color: #fff;
}

.caja-fotos .principal img {
    height: 87vw;
}

/*Fotos*/

.foto-2 {
    display: none;
}

.foto-3 {
    display: none;
}

.foto-4 {
    display: none;
}

.foto-5 {
    display: none;
}

.name-t {
    display: none;
}

/*Stock*/

.con-stock, .sin-stock {
    width: 16vw;
    background: rgb(126, 238, 141, 0.9);
    border: 2px solid #39b54a;
    position: absolute;
    top: 40px;
    right: -20px;
    text-align: center;
}

.sin-stock {

    background: rgba(238, 126, 126, 0.9);
    border: 2px solid #dd0000;

}

.con-stock span, .sin-stock span {
    font-weight: bolder;
}

/*Precio*/

.contenedor-precio {
    margin: 16px 0px 4px;
}

p.precio-antes {
    font-size: 16px;
    color: #fff;
    text-decoration: line-through;
}

.caja-precio h3 {
    font-size: 42px;
    margin: 0px 0px;
}

.caja-precio p {
    font-size: 20px;
}

.caja-precio>div {
    display: flex;
}

.descuento {
    margin-top: 8px;
}

/*Agregar a carrito*/

.caja-carrito {
    margin: 16px 0px;
}

.caja-carrito p {
    margin-bottom: 8px;
    font-size: 18px;
}

.caja-carrito .cantidad {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    padding-left: 3%;
    margin-bottom: 4px;
}

.caja-carrito .disponible {
    font-size: 14px;
    margin-bottom: 16px;
}

/* .caja-carrito input {
    height: 1.7rem;
    width: 30px;
    font-size: 18px;
    padding: 3px 7px;
    background: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 2px;
} */

.caja-carrito button,
.caja-botones button {
    height: 40px;
    width: 100%;
    padding: 0px 10px;
    font-size: 20px;
    background: rgba(255, 255, 255, 0.8);
    border: none;
    box-shadow: 0px 0px 3px var(--blanco);
    color: rgba(11, 11, 22, 0.9);
    font-weight: bold;
    border-radius: 5px;
}

/*Envío*/

.caja-envio {
    font-size: 16px;
    text-align: left;
    margin-bottom: 20px;
}

.caja-envio h4 {
    margin: 10px 0px 5px;
    font-size: 20px;
}

/* Botones*/

.caja-botones {
    text-align: center;
}

.caja-botones button {
    width: 100%;
    margin: auto;
    margin-bottom: 15px;
}

.caja-description {
    display: none;
}

/*Similares*/

.caja-similares {
    width: 92%;
    margin: auto;
    margin-top: 50px
}

article {
    border-radius: 15px;
    padding: 10%;
    background-color: #fff;
    margin-bottom: 8%;
    position: relative;
    cursor: pointer;
    /* height: calc(68vw + 125px + 20px); */
}

main section article img {
    width: 64vw;
    height: 64vw;
    /* max-height: 248px; */
}

.favOff,
#favOff1,
#favOff2,
#favOff3,
#favOff4,
#favOn1,
#favOn2,
#favOn3,
#favOn4,
#favOffR1,
#favOffR2,
#favOffR3,
#favOffR4,
#favOnR1,
#favOnR2,
#favOnR3,
#favOnR4 {
    position: absolute;
    top: 4.2vh;
    right: 2.5vh;
    background: none;
    border: none;
}

.material-icons-outlined {
    font-size: 42px;
    color: rgb(60, 60, 60);
    font-weight: 400;
}

.favOff,
#favOff1,
#favOff2,
#favOff3,
#favOff4,
#favOffR1,
#favOffR2,
#favOffR3,
#favOffR4 {
    cursor: pointer;
    z-index: 10;
}

.favOn,
#favOn1,
#favOn2,
#favOn3,
#favOn4,
#favOnR1,
#favOnR2,
#favOnR3,
#favOnR4 {
    opacity: 0;
}

.favOn.con-fav,
#favOn1.con-fav,
#favOn2.con-fav,
#favOn3.con-fav,
#favOn4.con-fav,
#favOnR1.con-fav,
#favOnR2.con-fav,
#favOnR3.con-fav,
#favOnR4.con-fav {
    opacity: 1;
}

.favOn .material-icons,
#favOn1.con-fav .material-icons,
#favOn2.con-fav .material-icons,
#favOn3.con-fav .material-icons,
#favOn4.con-fav .material-icons,
#favOnR1.con-fav .material-icons,
#favOnR2.con-fav .material-icons,
#favOnR3.con-fav .material-icons,
#favOnR4.con-fav .material-icons {
    font-size: 42px;
    color: rgb(60, 60, 60);
}

.sin-fav {
    opacity: 0;
}

.main-article {
    border-top: 1px var(--grisOscuro) solid;
}

p.name {
    margin: 2% 0% 3%;
    font-size: 20px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.92);
}

.caja-similares p.precio-antes {
    font-size: 14px;
    color: rgb(60, 60, 60);
    text-decoration: line-through;
}

.main-article>div {
    display: flex;
    margin-top: 4px;
    text-align: center;
    -webkit-align-items: center;
}

p.precio {
    font-size: 24px;
    color: black;
}

p.descuento {
    margin-left: 15px;
    font-size: 16px;
    color: var(--verde);
}

/*---------------------------------------->MediaQuery Tablet<----------------------------------*/

@media (min-width: 521px) {

    main {
        width: 90%;
    }
    
    .caja-producto {
        width: 90%;
        margin: auto;
    }

    /*Titulo*/
    

    
    /*Fotos*/

    .caja-foto-principal {
        width: 80%;
        height: 60%;
        order: 1;
        padding: 0% 5%;
    }
    
    .caja-fotos .principal img {
        height: 90vw;
    }

    /* .foto-2 {
        width: 100%;
    }

    .foto-2 img {
        width: 100%;
        border: solid 2px;
    }

    .foto-3 {
        width: 100%;
    }

    .foto-3 img {
        width: 100%;
        border: solid 2px;
    }

    .foto-4 {
        width: 100%;
    }

    .foto-4 img {
        width: 100%;
        border: solid 2px;
    }

    .foto-5 {
        width: 100%;
    }

    .foto-5 img {
        width: 100%;
        border: solid 2px;
    }
    */
    
    .contenedor-datos {
        width: 100%; 
    }

    /*Precio*/

    p.precio-antes {
        color: #fff;
    }

    /*Envío*/

    .caja-envio p {
        font-size: 16px;
    }


}

/*-------------------------------------MediaQuery Desktop-----------------------------------*/

@media (min-width: 769px) {

    main {
        width: 90%;
    }

    .caja-producto {
        width: 100%;
        margin: 25px 0;
    }

    .contenedor-fotos-datos {
        display: flex;
        justify-content: space-between;
    }

    /*Fotos*/

    .caja-fotos {
        width: 50vw;
    }

    .caja-fotos .principal {
        width: 100%;
        height: 50vw;
    }

    .caja-fotos .principal img {
        height: 50vw;
    }

    /* .fotos-muestra {
        display: flex;
        flex-direction: column;
        width: 15%;
    } */

    /* .foto-2 {
        width: 100%;
        margin-bottom: 4%;
    }

    .foto-2 img {
        width: 100%;
        height: 100%;
        border: solid 2px;
    }

    .foto-3 {
        width: 100%;
    }

    .foto-3 img {
        width: 100%;
        border: solid 2px;
    }

    .foto-4 {
        width: 100%;
    }

    .foto-4 img {
        width: 100%;
        border: solid 2px;
    }

    .foto-5 {
        width: 100%;
    }

    .foto-5 img {
        width: 100%;
        border: solid 2px;
    } */

    /*-Datos-*/

    .contenedor-datos {
        width: 38vw;
    }

    /*Stock*/

    .con-stock, .sin-stock {
        width: 10vw;
        top: 20px;
        right: -10px;
    }

    /*Título*/

    .name {
        display: none;
    }

    .name-t {
        display: inherit;
        margin: 0 0 8px;
        font-size: 20px;
    }

    /*Precio*/

    .contenedor-precio {
        margin: 8px 0px 4px;
    }

    .caja-precio h3 {
        font-size: 38px;
    }

    /*Agregar a carrito*/

    .caja-carrito {
        margin: 8px 0px;
    }

    /*Descripción-opiniones*/

    .conteiner-description-opinion {
        background-color: var(--blanco);
        padding-bottom: 32px;
        margin-top: 5vh;
    }

    .caja-botones {
        display: flex;
        margin-top: 0;
        justify-content: space-around;
    }

    .caja-botones div {
        width: 100%;
    }

    .caja-botones button {
        /* width: 35vw; */
        width: 100%;
        margin-bottom: 0;
        margin-left: 0;
        padding: 0%;
        border-radius: 0;
        box-shadow: inherit;
    }

    .caja-botones div.left {
        border-bottom: solid 2px var(--azul);
        border-right: solid 1px var(--azul);
    }

    .caja-description {
        display: inherit;
    }

    .caja-description p {
        margin: 16px 28px 0;
        color: var(--xiketic);
        font-size: 18px;
    }

}

@media (min-width: 1150px) {
    main {
        top: 150px;
        width: 75%;
    }

    .caja-producto {
        margin: 0px;
    }

    /*Fotos*/

    .caja-fotos {
        width: 39vw;
    }

    .caja-fotos .principal {
        width: 100%;
        height: 39vw;
    }

    .caja-fotos .principal img {
        height: 39vw;
    }

    /*-Datos-*/

    .contenedor-datos {
        width: 32vw;
    }

    /*Stock*/

    .con-stock, .sin-stock {
        width: 8vw;
        top: 20px;
        right: -20px;
    }

    /*Descripción-opiniones*/

    .conteiner-description-opinion {
        background-color: var(--blanco);
        padding-bottom: 32px;
        margin-top: 60px;
    }


}