:root {
    --amarillo: #eac926;
    --azul: #03264c;
    --celeste: #1259c3;
    --grisOscuro: #666;
    --grisClaro: #ebebeb;
    --verde: #39b54a;
    --rosado: rgba(196, 15, 233, 0.986);
    --purpuraOscuro: #46188c;
    --purpura: #7514b7;
    --negro: rgba(0, 0, 0, 0.8);
    --turquesa: #15cec0;
    --blanco: rgba(255, 255, 255, 0.9);
    --xiketic: #0b0b16;
  }
html{
    min-height: 100vh
}
/*Normalize*/
@import url('normalize.css');

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    background:linear-gradient(var(--rosado), var(--celeste))
}
main{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction:column;
    flex-wrap:wrap;
    position: relative;
    margin-top: 5%;
    /* background:linear-gradient(var(--rosado), var(--celeste)) */
}
a{
    text-decoration: none;
    color: black;
}



div.articulo{
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    margin-top: 20px;
    background-color: white;
    border-radius: 20px;
}
.linea {
    border-top: 1px solid grey;
    height: 1px;
    width: 70%;
    padding: 0;
    margin: 1px auto 0 auto;
}
.articulo img{
    width: 60% ;
    height: 60%;
    margin-left: 20%;
    margin-top: 5%;
}
.producto-similar1{text-align: center;
    font-size: 15px;}
.valor2{
    font-size: 20px;
    text-align: center;
    padding-bottom: 10%; 
}
.footer{
    width:100%;
    height:100%;
    margin-top: 55%;

}

.no-found {
    color: white;
    font-weight: 400;
}

/*Responsive*/


/*---------------------------------------------------------------------------->MediaQuery Tablet<----------------------------------------------------------------------------------*/

@media (min-width: 520px){

    main{
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction:column;
        flex-wrap:wrap;
        position: relative;
        margin-top: 5%;
        /* background:linear-gradient(var(--rosado), var(--celeste)) */
    }
    .similares{
        width: 90%;
        height: 90%;
        margin-top: 3%;
        display: flex;
        margin: auto;
        /* justify-content:space-between; */
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
     }
     div.articulo{
        width:  15em;
        height: 15rem;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        text-align: center;
        margin-top: 5%;
        margin-bottom: 3%;
        margin-left: 5%;
        border-top: 1px var(--grisOscuro) solid;
        border-radius: 15px;
    }  

 
    .articulo img{
        width: 50% ;
        height: 50% ;
        padding-right: 20%;
    }
    .producto-similar1{text-align: center;
        font-size: 15px;
    }
    .valor2{
        font-size: 20px;
        text-align: center;
    }

}


/*-----------------------------------------------------------------------ediaQuery Desktop--------------------------------------------------------------------------*/
@media (min-width: 769px){
    main{
        top: 15vh;
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction:column;
        flex-wrap:wrap;
        position: relative;

    }

    .similares{
        width: 90%;
        height: 90%;
        margin-top: 3%;
        display: flex;
        margin: auto;
        /* justify-content:space-between; */
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start;
     }
    div.articulo{
        width:  15em;
        height: 15rem;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        text-align: center;
        margin-top: 5%;
        margin-bottom: 3%;
        margin-left: 5%;
        border-top: 1px var(--grisOscuro) solid;
        border-radius: 15px;
    }
    /* div.articulo{
        width: 100%;
        height: 250px;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        margin-top: 20px;
        background-color: white;
    } */
    .linea {
        border-top: 1px solid grey;
        height: 1px;
        width: 70%;
        padding: 0;
        margin: 20px auto 0 auto;
    }
    .articulo img{
        margin-top: 10%;
        width: 40% ;
        height: 40%;
    }
    .producto-similar1{text-align: center;
        font-size: 15px;
    }
    .valor2{
        font-size: 20px;
        text-align: center;
    }
    .footer{
        width:100%;
        height:100%;
        margin-top: 30%;

    }
    }