/**/
/*Normalize*/
@import url('normalize.css');


/*Body*/
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;}


/*Nav-bar*/
.nav-bar{
height: 50px;
}
h1{
    text-align: center;
}
.linea-nav-top{
    border-color: black;
    margin-top: 10px;
    width: 375px;
  }
.linea-nav-bot{
    border-color: black;
    width: 375px;
}


/*Titulo*/
div.caja-titulo{
height: 100px;
}
h2.producto{font-size: 20px;
    padding-top: 10px;
    text-align: center;}

    
/*Fotos*/
.foto-2{display:none;}
.foto-3{display:none;}
.foto-4{display:none;}
.foto-5{display:none;}

p.descripcion{display: none;}

.caja-foto-principal{
    text-align: center;
    padding-left: 2.5px;
    margin-top: auto;
}
.caja-foto-principal img {
    max-width: 80%;
    max-height: 80%;
    display: block;
    margin: auto;
    border: solid 2px;
    box-shadow: 5px;
}


   /*Compra*/
.caja-compra{ 
    height: 100px;
}
.valor{font-size: 40px;
    font-weight: bold;
    text-align: left;
    margin: 10px 0px 0px 45px;
}
.cuotas{font-size: 20px;
    text-align: left;
    margin: 0px 0px 0px 42px;
}


 /*Carrito*/
.caja-carrito{
    display: flex;
}
.cantidad{font-size: 20px;
    text-align: left;
    margin: 0px 0px 0px 50px;}

.agregar-carrito{font-size: 20px;
    text-align: left;
    margin: 0px 0px 0px 30px;}


 /*Envio*/
.caja-envio{font-size: 15px;
    text-align: left;
}
.envio{
    margin-left: 30px;
}
.texto-envio{
    margin-left: 30px;
}
.estado{
    display: none;
}

/*Boton Flotante*/
div .boton-flotante{
    width: 60px;
    height: 60px;
}
.boton-flotante img{
    width: 60px;
    height: 60px;
    position: fixed;
    top: 510px;
    right: 40px;
    z-index: 5;
}
.fa-cart-shopping{
    position: fixed;
    top: 527px;
    right: 53px;
    z-index: 10; 
    padding: auto;
    font-size: 30px;
}


/* Botones*/
.caja-botones{text-align: center;}
.descripciones{font-size: 20px;}
.botondedescripcion{width: 230px;
    height: 40.5px;
    border: solid 2px;}
.ficha-tec{font-size: 20px;}
.botondeficha{width: 230px;
    height: 40.5px;
    border: solid 2px;}
.opiniones{font-size: 20px;}    
.botondeopiniones{width: 230px;
    height: 40.5px;
    border: solid 2px;}

 /*Similares*/
 section .similares{
    margin-top: 50px
 }
 .caja-similares{
     height: 350px;
 }
.similarestitu{font-size: 30px;
    margin: 0px 0px 0px 35px;}
hr {
    border-color: black;
    width: 300px;
  }
.caja-similares img{
    max-width: 60%;
    max-height: 60%;
    display: block;
    margin: auto;
}
div.articulo{
    width: 300px;
    height: 250px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    position: absolute;
    right: 35px;
    z-index: -2;
    margin-top: 20px;
}
.articulo img{
    width: 225 ;
    height: 201;
}
.producto-similar1{text-align: center;
    font-size: 15px;}
.valor2{
    font-size: 20px;
    text-align: center;
}


/*Responsive*/
@media (min-width: 480px){
.foto-2{display: block;}
.foto-3{display: block;}
.foto-4{display: block;}
.foto-5{display: block;}

}
@media (min-width: 767px){
    .foto-2{display: block;}
    .foto-3{display: block;}
    .foto-4{display: block;}
    .foto-5{display: block;}
    }
@media (min-width: 950px){
    .foto-2{display: block;}
    .foto-3{display: block;}
    .foto-4{display: block;}
    .foto-5{display: block;} 
    }
/*body {font-family: 'Roboto', sans-serif;}
.foto-principal{
    width: 500px;
    height: auto;
}
img {
    max-width: 100%;
    max-height: 100%;
   }
   */