:root {
  --amarillo: #eac926;
  --azul: #03264c;
  --celeste: #1259c3;
  --grisOscuro: #666;
  --grisClaro: #ebebeb;
  --verde: #39b54a;
}

/* BODY */
img{
    width: 100%;
   
}

*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
}
body{
    
    background-color: var(--grisClaro);
}
h3{
    font-size: 24px;
    text-align: center;
}

p{
    font-size: 22px;
    text-align:center;
}
.productos{
padding:0px;
margin: 0px;
}
p.precio{
    font-size:18px;
    text-align: center;
}
.descuento{
   
    text-align: center;
}

.descuento,
.descripcion{
    font-size: 20px;
    font-weight: normal;
    text-align: center;
}
main{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}
article{
    justify-content:center;
}
main section article{
    background-color: #fff;    
    margin: 10px 0px;
}

main section article img{
    width: 100%;
}

main section article i,
.descuento{
    color: #39b54a;
}

main section h3{
    margin: 20px 0px;
}
article{
    text-align: center;
   
}

main article{
    background-color: #fff;
    margin-top: 6%;
    width: 100%;
    display: block;
    position: relative;
    box-shadow:-1px 2px 22px -1px var(--grisOscuro);
    padding: 30px;
}



.fa-solid.fa-star{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    color: #eac926;
    position: absolute;
    right: 25px;
    font-size: 35px;
    top:10px;
  border: 0px none;
  
}

.fa-solid.fa-cart-shopping {
    display: block;
    padding: 5px;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 20px;
    font-size: 20px;
    right: 11px;
    bottom: 10px;
}

.fa-solid.fa-cart-shopping:hover{
    transform:rotate(-90deg);
}

/* ADAPTATiVO */ 

@media (min-width: 520px){
    main section article .descripcion{
        display: block;
    }

    main section article{
        box-shadow:-1px 2px 22px -1px var(--grisOscuro);

    }
    main section article:hover{
        box-shadow:-1px 2px 22px -1px var(--celeste);

    }

    main section div.productos{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    main section div.productos article{
        width: 45%;
    }

    .precio,
    .descuento{
        
        text-align: center;
    }


@media (min-width: 769px){
    main section div.productos article{
        width: 22%;
    }

}
}