*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: arial;
    background-image: url('/images/fondo_login_register.jpg');
}

.Form-register{
width: 400px;
background: #24303c;
padding: 30px;
margin: auto;
margin-top: 100px;
border-radius: 4px;
font-family: 'calibri';
color: white;
box-shadow: 7px 13px 37px #000;
}

.Form-register h4{
 font-size: 22px;
 margin-bottom: 20px;
 text-align: center;
}

.Controls{
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
}

.Form-register p{
    height: 40px;
    text-align: center;
    font-size:18px;
    line-height: 40px;
}

.Form-register a{
    color: white;
    text-decoration: none;
}

.Form-register a:hover{
    color: white;
    text-decoration: underline;
}

.Form-register .botons {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    text-align: center;
}

body{
    font-family: sans-serif;
    padding: 90px 20px 0;
}

/* .header{
    background-color: white;
    height: 80px;
    position: fixed;
    width: 100%;
    top:0;
    left: 0;
}

.nav {
    display: flex;
    justify-content: space-between;

    max-width: 992px;
    margin: 0 auto;
    }

.nav-link{
    color: black;
    text-decoration: none;

}
.logo {
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;   
}

.nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.nav-menu-item{
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform:uppercase;
    width: max-content;
}

.nav-menu-link{
    padding: 8px 12px;
    border-radius: 3px;
}
.nav-menu-link:hover{
    background-color: #034574;
    transition: 0.5s;
}

.nav-toggle {
    color : black;
    background:none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    align-items: left;
    display: none;
    border-radius: 10px; 
    border: none;
} */

@media(max-width: 768px){
    body{
        padding: 90px 20px 0;
    }
/*     
    .header{
        height: 60px;       
    }
    .logo {
        font-size: 25px;
        padding: 0 20px;
        line-height: 60px;
        align-items: center; 
    }
    
    .nav-menu {
        display: none;
        margin-right: 20px;
        height: calc(100% - 60%);
        overflow-y: auto;
    }
    
    .nav-menu-item{
        line-height: 70px;
    }

    .nav-menu-link:hover{
        background-color: none;
    }
    
    .nav-toggle {
        display: block;
    } */
}